<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559141014236-eannt88og6ogai3427aea4kvupto139u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559141014236-eannt88og6ogai3427aea4kvupto139u</string>
	<key>API_KEY</key>
	<string>AIzaSyAQxWAgkxHHcIGb4OOfgUn9O9lZydlUSa4</string>
	<key>GCM_SENDER_ID</key>
	<string>559141014236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Paste89.TabBarCoordinatorApp.TabBarCoordinatorApp</string>
	<key>PROJECT_ID</key>
	<string>mvvmshowcase</string>
	<key>STORAGE_BUCKET</key>
	<string>mvvmshowcase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559141014236:ios:d8dca7c843af14dce04219</string>
</dict>
</plist>