name: iOS-CI-Test

on:
    push:
        branches:
        - develop
        - qa
        - staging
        - master

jobs:
    test:
        name: Test
        runs-on: macos-latest
        strategy:
            matrix:
                destination: ['platform=iOS Simulator,OS=14.4,name=iPhone 11']
        steps:
            - name: Checkout
              uses: actions/checkout@master
              with:
                ref: ${{ github.ref }}
            - name: Build
              run: |
                xcodebuild clean build -project TabBarCoordinatorApp.xcodeproj -scheme TabBarCoordinatorApp -destination "platform=iOS Simulator,OS=13.2.2,name=iPhone 11" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO
              env:
                destination:: ${{ matrix.destination }}
            - name: Test
              run: |
                xcodebuild clean test -project TabBarCoordinatorApp.xcodeproj -scheme TabBarCoordinatorApp -destination "platform=iOS Simulator,OS=13.2.2,name=iPhone 11" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO
              env:
                destination: ${{ matrix.destination }}
